@model RestaurantApp.Models.Waiters

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Is the waiter finished with his/her shift?</h3>
<div>
    <h4>Details for the waiter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Served tables
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countTables)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Dismiss" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
