@model RestaurantApp.Models.Tables

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Close the bill", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
